body {
  font-family: "Istok Web", sans-serif;
  transition: 1 ease-in;
  -webkit-transform: 1 ease-in; }

.container-fluid.top {
  padding: 0; }

.navbar.bg-light {
  background-color: #FF8200 !important;
  padding: 1rem 20rem !important; }
  .navbar.bg-light .navbar-brand {
    color: white !important;
    font-weight: 900;
    font-size: 30px; }
  .navbar.bg-light .nav-item.active .nav-link {
    color: white !important; }
  .navbar.bg-light .nav-item.active .a {
    padding-top: 17px; }
  .navbar.bg-light .navbar-nav {
    font-size: 20px; }
  .navbar.bg-light .nav-link {
    color: rgba(255, 255, 255, 0.5); }
  .navbar.bg-light .nav-link:hover {
    color: white !important; }
  .navbar.bg-light .nav-link:focus {
    color: white !important; }

.top {
  background-color: #FF8200; }

.play-parent {
  background-color: #FF8200; }

.play {
  width: 30px;
  height: 30px; }

.landing {
  margin-top: 87px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8200+0,f75a00+100 */
  background: #FF8200;
  /* Old browsers */
  background: -moz-linear-gradient(top, #FF8200 34%, #f75a00 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FF8200 34%, #f75a00 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FF8200 34%, #f75a00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$utk, endColorstr=$utk2,GradientType=0 );
  /* IE6-9 */
  height: 650px; }
  .landing div h1 {
    color: white; }

.card {
  margin-bottom: 30px; }

footer.card-footer .container p {
  margin: 0;
  display: inline-block; }

footer.card-footer .container span {
  float: right; }

#solutions {
  margin-left: 31px; }

#problems {
  padding: 15px 46px; }

@media only screen and (max-width: 800px) {
  .navbar.bg-light {
    padding: 0.5rem 1rem !important; }
  .landing {
    margin-top: 70px; } }
